<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Mr.Cooper" value="https://mrcooper.pkgs.visualstudio.com/_packaging/Originations/nuget/v3/index.json" />
    <add key="KendoMvc2017.3.913" value="https://nuget.telerik.com/nuget" />
    <!--<add key="Tfs Web" value="http://tfsweb/NuGet/nuget" />-->
  </packageSources>
    <packageSourceCredentials>
        <Mr.Cooper>
            <add key="Username" value="token" />
            <add key="ClearTextPassword" value="elnaucuqfula53djgcxddjx2rb7avah4zje6ecoix7bdnw7z3awa" />
        </Mr.Cooper>
        <KendoMvc2017.3.913>
            <add key="Username" value="steves@astuteinc.com" />
            <add key="ClearTextPassword" value="kaypro10" />
        </KendoMvc2017.3.913>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>